.mainContacto{
    background-color: map-get($colores,secundario);
    height: 184vh;
    color: map-get($colores,fuenteC);
    padding: 20px;
    .mainNav{
        display: flex;
        @include displayflex (column,center,center,center,nowrap);
    }
}
