.contenedor{
    background-color: map-get($colores, primario);
}
.main{
    background-color: map-get($colores,secundario);
    color: map-get($colores,fuenteC);
    padding: 20px;

    .tarjeta{
        display: flex;
        @include displayflex (column,center,center,center,nowrap);
        padding: 20px;
    
        .tarjeta__titulo{
        font-size: 2rem;
        padding: 5px;
        animation-name: tarjeta__titulo;
        animation-duration: 5s;
        }
        .tarjeta_descripcion{
        font-size: 1rem;
        padding: 0.5rem;
        text-align: center;
        }
        .tarjeta__img{
        width: 30%;
        box-shadow: 0px 0px 8px 0px rgb(255 255 255 / 60%);
        border-radius: 15px;
        position: relative;
        }
    }
    .tarjeta__btn{
        background-color: rgba(255, 255, 255, 0.226);
        width: 250px;
        margin: 0 auto;
        position: relative;
        bottom: 5px;
        border: none;
        border-radius: 18px;
            a{
            text-decoration: none;
            color: map-get($colores,fuenteC);
            font-size: 16px;
            padding: 15px;
            font-weight: 700;
            }
        }        
}
@keyframes tarjeta__titulo{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width:576px){
    .tarjeta__titulo{
        font-size: 2.3rem;
        text-align: center;
        }
    .tarjeta_descripcion{
        font-size: 1.4rem;
        padding: 1rem;
        text-align: center;
    }
    .tarjeta__img {
        width: 100%;
        margin: 20px;
        box-shadow: 0px 0px 8px 0px rgb(255 255 255 / 60%);
        border-radius: 15px;
        position: relative;
    }
    .tarjeta__btn{
        background-color: rgba(255, 255, 255, 0.226);
        position: relative;
        bottom: 48px;
        border: none;
        border-radius: 18px;
    }
}
