.mainMedios{
    background-color: map-get($colores,secundario);
    height: 84vh;
    color: map-get($colores,fuenteC);
    padding: 20px;
    .tituloMedios{
        display:flex;
        @include displayflex (column,center,center,center,nowrap);
    }
}