.mainPf{
    background-color: map-get($colores,secundario);
    height: 84vh;
    color: map-get($colores,fuenteC);
    padding: 20px;
}

@media (max-width:576px){
    .mainPf{
        height: 89vh;
        .preguntas{
            padding: 5px;
            margin: 5px;
        }
    }
}